.mainContainer {
    box-sizing: border-box;
    display: flex;
    width: 800px;
    height: 561px;
    border: 1px solid black;
}

.figureContainer {
    width: 300px;
    border-right: 1px solid black;
}

.canvasContainer {
    width: 500px;
}

.header {
    height: 60px;
    border-bottom: 1px solid black;
    background-color: #c7c7c7;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvasWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvasDropWrapper {
    height: 500px;
    width: 500px;
    border: 2px dashed black;
}

.figuresWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure {
    height: 80px;
    width: 150px;
    margin-top: 20px;
}

.ellipse {
    background: #54ff32;
    border: 1px solid #246f15;
    border-radius: 50%;
}
.rectangle {
    background: #3265ff;
    border: 1px solid #152c6f;
}

